{#
/**
* @file
* Theme override to display a single page.
*
* The doctype, html, head and body tags are not in this template. Instead they
* can be found in the html.html.twig template in this directory.
*
* Available variables:
*
* General utility variables:
* - base_path: The base URL path of the Drupal installation. Will usually be
* "/" unless you have installed Drupal in a sub-directory.
* - is_front: A flag indicating if the current page is the front page.
* - logged_in: A flag indicating if the user is registered and signed in.
* - is_admin: A flag indicating if the user has permission to access
* administration pages.
*
* Site identity:
* - front_page: The URL of the front page. Use this instead of base_path when
* linking to the front page. This includes the language domain or prefix.
*
* Page content (in order of occurrence in the default page.html.twig):
* - node: Fully loaded node, if there is an automatically-loaded node
* associated with the page and the node ID is the second argument in the
* page's path (e.g. node/12345 and node/12345/revisions, but not
* comment/reply/12345).
*
* Regions:
* - page.header: Items for the header region.
* - page.footer: Items for the footer region.
*
* @see template_preprocess_page()
* @see html.html.twig
*/
#}


<div class="page-wrapper">
    {% include '@training/includes/header.html.twig' %}
    {% if page.main_slider %}
    <div class="main-slider">
        {{ page.main_slider }}
    </div>
    {% endif %}
    {% if page.first_mid_section %}
    <section class="bitcoin-section">
        <div class="container">
            <div class="bit-main">
                <div class="row">
                    <div class="bit-content">
                        <div class="col-sm-12 col-md-6 col-lg-5 bit-des">
                            {{ page.first_mid_section }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}
    {% if page.second_mid_section %}
    <section class="second-info">
        <div class="container">
            <div class="row">
                {{ page.second_mid_section }}
            </div>
        </div>
    </section>
    {% endif %}
    {% if page.testimonial_slider %}
    <div class="container">
        <div class="testimonial-slider">
            {{ page.testimonial_slider }}
        </div>
    </div>
    {% endif %}
    {% if page.currency_calculation %}
    <section class="currency-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-6 col-lg-5">
                    <div class="form-section">
                        {{ page.currency_calculation }}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}
    {% if page.service_section %}
    <section class="service-section">
        <div class="container">
            <div class="service-content">
                {{ page.service_section }}
            </div>
        </div>
    </section>
    {% endif %}
    {% if page.news_event %}
    <section class="news-event">
        <div class="container">
            <div class="blog-heading">{{ 'Our Blog'|t }}</div>
            {{ page.news_event }}
        </div>
    </section>
    {% endif %}
    {% if page.contact_us %}
    <section class="contact-us">
        <div class="container">
            <div class="contact-form">
                <div class="contactus-heading">{{ 'Get a'|t }}</div>
                {{ page.contact_us }}
            </div>
        </div>
    </section>
    {% endif %}
    {% if page.footer_slider %}
    <section class="footer-slider">
        <div class="container-fluid">
            <div class="footer-pad">
                <div class="row">
                    {{ page.footer_slider }}
                </div>
            </div>
        </div>
    </section>
    {% endif %}
    {% include '@training/includes/footer.html.twig' %}
    <section class="footer-bottom">
        <div class="container">
            <p class="text-center footer-text">© {{ 'Copyright'|t }} {{ "now"|date("Y") }}. {{ 'All Rights Reserved.'|t }}</p>
        </div>
    </section>
    <div id="stop" class="scrollTop" style="opacity: 1;">top</div>
</div>